In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
from bs4 import BeautifulSoup
import requests,openpyxl

C:\Users\hp\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\hp\anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\hp\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:\n%s" %

In [27]:
moives = []

In [87]:

    response = requests.get('https://www.imdb.com/chart/top')
    soup = BeautifulSoup(response.text,'html.parser')
    m = soup.find('tbody',class_='lister-list').find_all('tr')
    
    for i in m:
        rank = name = i.find('td',class_='titleColumn').get_text(strip=True).split('.')[0];
        name = i.find('td',class_='titleColumn').a.text
        rating = i.find('td',class_='ratingColumn imdbRating').strong.text
        year = i.find('td',class_='titleColumn').span.text.replace('(',"")
        year = year.replace(')',"")

In [ ]:
moives.append([rank,name,rating,year])

In [33]:
moives = pd.DataFrame(moives)

In [34]:
moives.columns=['rank','moive_name','rating','year']

In [75]:
moives

    rank                moive_name rating  year
0      1  The Shawshank Redemption    9.2  1994
1      2             The Godfather    9.2  1972
2      3           The Dark Knight    9.0  2008
3      4     The Godfather Part II    9.0  1974
4      5              12 Angry Men    8.9  1957
..   ...                       ...    ...   ...
245  246                  Jai Bhim    8.0  2021
246  247                   Aladdin    8.0  1992
247  248                    Gandhi    8.0  1982
248  249                  The Help    8.0  2011
249  250            The Iron Giant    8.0  1999

[250 rows x 4 columns]

In [76]:
moives2 =[]

In [77]:

    response = requests.get('https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=R16TS4AHBM0ZJ5XRYMS5&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1')
    soup = BeautifulSoup(response.text,'html.parser')
    m = soup.find('div',class_='lister-list').find_all('div',class_='lister-item')
    
    for i in m:
        rank = i.find('h3').find('span',class_='lister-item-index').get_text(strip=True).split('.')[0];
        name = i.find('h3').a.text
        rating = i.find('div',class_='inline-block ratings-imdb-rating').strong.text
        year = i.find('h3').find('span',class_='lister-item-year text-muted unbold').text.replace('(',"")
        year = year.replace(')',"")
        
        moives2.append([rank,name,rating,year])

In [81]:
moives2 = pd.DataFrame(moives2)

In [82]:
moives2.columns=['rank','moive_name','rating','year']

In [86]:
moive = pd.concat([moives,moives2])

In [90]:
moive3 = []

In [92]:

    response = requests.get('https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=51&ref_=adv_nxt')
    soup = BeautifulSoup(response.text,'html.parser')
    m = soup.find('div',class_='lister-list').find_all('div',class_='lister-item')
    
    for i in m:
        rank = i.find('h3').find('span',class_='lister-item-index').get_text(strip=True).split('.')[0];
        name = i.find('h3').a.text
        rating = i.find('div',class_='inline-block ratings-imdb-rating').strong.text
        year = i.find('h3').find('span',class_='lister-item-year text-muted unbold').text.replace('(',"")
        year = year.replace(')',"")
        
        moive3.append([rank,name,rating,year])

In [94]:
moive3 = pd.DataFrame(moive3)

In [95]:
moive3.columns=['rank','moive_name','rating','year']

In [98]:
moive = pd.concat([moive,moive3])

In [99]:
moive4 = []

In [100]:

    response = requests.get('https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=101&ref_=adv_nxt')
    soup = BeautifulSoup(response.text,'html.parser')
    m = soup.find('div',class_='lister-list').find_all('div',class_='lister-item')
    
    for i in m:
        rank = i.find('h3').find('span',class_='lister-item-index').get_text(strip=True).split('.')[0];
        name = i.find('h3').a.text
        rating = i.find('div',class_='inline-block ratings-imdb-rating').strong.text
        year = i.find('h3').find('span',class_='lister-item-year text-muted unbold').text.replace('(',"")
        year = year.replace(')',"")
        
        moive4.append([rank,name,rating,year])

In [103]:
moive4 = pd.DataFrame(moive4)

In [104]:
moive4.columns=['rank','moive_name','rating','year']

In [106]:
moive = pd.concat([moive,moive4])

In [107]:
moive

   rank                    moive_name rating  year
0     1      The Shawshank Redemption    9.2  1994
1     2                 The Godfather    9.2  1972
2     3               The Dark Knight    9.0  2008
3     4         The Godfather Part II    9.0  1974
4     5                  12 Angry Men    8.9  1957
..  ...                           ...    ...   ...
45  146                 Jûbê ninpûchô    7.8  1993
46  147                  The Fugitive    7.8  1993
47  148  Batman: Mask of the Phantasm    7.8  1993
48  149           Dip huet seung hung    7.8  1989
49  150                      Predator    7.8  1987

[400 rows x 4 columns]

In [108]:
moive5 = []

In [109]:

    response = requests.get('https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=151&ref_=adv_nxt')
    soup = BeautifulSoup(response.text,'html.parser')
    m = soup.find('div',class_='lister-list').find_all('div',class_='lister-item')
    
    for i in m:
        rank = i.find('h3').find('span',class_='lister-item-index').get_text(strip=True).split('.')[0];
        name = i.find('h3').a.text
        rating = i.find('div',class_='inline-block ratings-imdb-rating').strong.text
        year = i.find('h3').find('span',class_='lister-item-year text-muted unbold').text.replace('(',"")
        year = year.replace(')',"")
        
        moive5.append([rank,name,rating,year])

In [110]:
moive5 = pd.DataFrame(moive5)

In [112]:
moive5.columns=['rank','moive_name','rating','year']

In [113]:
moive = pd.concat([moive,moive5])

In [114]:
moive

   rank                      moive_name rating     year
0     1        The Shawshank Redemption    9.2     1994
1     2                   The Godfather    9.2     1972
2     3                 The Dark Knight    9.0     2008
3     4           The Godfather Part II    9.0     1974
4     5                    12 Angry Men    8.9     1957
..  ...                             ...    ...      ...
45  196                   Incredibles 2    7.6     2018
46  197                         Sicario    7.6     2015
47  198                           Creed    7.6  II 2015
48  199  Dawn of the Planet of the Apes    7.6     2014
49  200                       El cuerpo    7.6     2012

[450 rows x 4 columns]

In [116]:
moive.to_csv('moives.csv',index = False)