In [126]:
import pandas as pd
import numpy as np

In [2]:
from bs4 import BeautifulSoup
import requests,openpyxl

# first page

In [70]:
jobs = []

In [48]:
response = requests.get('https://www.timesjobs.com/candidate/job-search.html?searchType=personalizedSearch&from=submit&txtKeywords=Data+Science&txtLocation=')
soup = BeautifulSoup(response.text,'html.parser')

In [49]:
value = soup.find_all('li',class_='clearfix job-bx wht-shd-bx')

In [79]:
for i in value:
    name = i.find('h3',class_='joblist-comp-name').text
    skill = i.find('span',class_='srp-skills').text

    
    jobs.append([name,skill])

['\r\n    Maxgen Technologies\r\n     (More Jobs) \n', '\r\n      \r\n          .\r\n        \r\n      ']
['\r\n    Maxgen Technologies\r\n     (More Jobs) \n', '\r\n      \r\n          .\r\n        \r\n      ']
['\r\n    Maxgen Technologies\r\n     (More Jobs) \n', '\r\n      \r\n          .\r\n        \r\n      ']
['\r\n    tcg digital solutions pvt ltd\r\n    \r\n    ', '\ndata analytics  ,  functional analysis  ,  predictive analytics  ,  data science  ,  solution design\r\n        \r\n      ']
['\r\n    Wow Labz\r\n    \r\n    ', '\r\n      \r\n          github  ,  python  ,  data mining  ,  mining  ,  machine learning  ,  sql  ,  forms\r\n        \r\n      ']
['\r\n    bprise pvt ltd\r\n    \r\n    ', '\r\n      \r\n          hive  ,  algorithms  ,  authoring  ,  data mining  ,  sql  ,  pig  ,  d3.js  ,  security  ,  java  ,  big data  ,  mongodb  ,  hbase  ,  python  ,  machine learning  ,  nosql  ,  cassandra\r\n        \r\n      ']
['\r\n    Maxgen Technologies\r\n     (More Jobs) \n', '\r\n      \r\n          .\r\n        \r\n      ']
['\r\n    Maxgen Technologies\r\n     (More Jobs) \n', '\r\n      \r\n          .\r\n        \r\n      ']
['\r\n    Maxgen Technologies\r\n     (More Jobs) \n', '\r\n      \r\n          .\r\n        \r\n      ']
['\r\n    Maxgen Technologies\r\n     (More Jobs) \n', '\r\n      \r\n          .\r\n        \r\n      ']
['\r\n    HR Jobs Placements\r\n     (More Jobs) \n', '\nData Science Analyst  ,  Data Science  ,  test model quality  ,  product development  ,   marketing techniques  ,  customer experiences  ,   revenue generation  ,   ad targeting\r\n        \r\n      ']
['\r\n    CANVAS27.com\r\n     (More Jobs) \n', '\r\n      \r\n          r  ,  data analysis  ,  logistic regression  ,  sql  ,  data science  ,  python  ,  machine learning  ,  big data  ,  open source  ,  Big Data Analytics  ,  Business Analytics  ,  Business Intelligence\r\n        \r\n      ']
['\r\n    CANVAS27.com\r\n     (More Jobs) \n', '\r\n      \r\n          r  ,  data analysis  ,  logistic regression  ,  sql  ,  data science  ,  python  ,  machine learning  ,  big data  ,  open source  ,  Big Data Analytics  ,  Business Analytics  ,  Business Intelligence\r\n        \r\n      ']
['\r\n    Nielsen Research Ltd. Co.\r\n    \r\n    ', '\r\n      \r\n          project leader  ,  project management  ,  Data Science\n']
['\r\n    Tuebora Software Private Limited\r\n    \r\n    ', '\ndata analysis  ,  data science  ,  business requirements  ,  data scientist\r\n        \r\n      ']
['\r\n    cognitio analytics\r\n    \r\n    ', '\r\n      \r\n          R or Python   ,  SQL  ,   ETL  &  BI  ,  Data Science\n']
['\r\n    Deal4loans\r\n    \r\n    ', '\r\n      \r\n          advanced analytics  ,  sas  ,  business requirements  ,  director  ,  sql  ,  data science\n']
['\r\n    Merkle Inc.\r\n    \r\n    ', '\r\n      \r\n          business requirements  ,  dashboards  ,  sql  ,  data science  ,  advanced excel  ,  sas  ,  analyst\r\n        \r\n      ']
['\r\n    Merkle Inc.\r\n    \r\n    ', '\r\n      \r\n          business requirements  ,  dashboards  ,  data science  ,  advanced excel  ,  sassql  ,  analyst  ,  forms\r\n        \r\n      ']
['\r\n    Merkle Inc.\r\n    \r\n    ', '\r\n      \r\n          visualization  ,  business requirements  ,  bi  ,  dashboards  ,  data science  ,  sas  ,  tableau  ,  analyst\r\n        \r\n      ']
['\r\n    ICON PLC\r\n    \r\n    ', '\r\n      \r\n          rfps  ,  database  ,  data science  ,  data scientist  ,  advanced analytics  ,  data analysis  ,  oracle  ,  predictive modeling  ,  project analysis\r\n        \r\n      ']
['\r\n    TransOrg Analytics\r\n    \r\n    ', '\ndata mining  ,  bi  ,  dashboards  ,  sql  ,  data science  ,  logistic regression  ,  advanced analytics  ,  data analysis  ,  predictive analytics\r\n        \r\n      ']
['\r\n    MetrixLab\r\n    \r\n    ', '\r\n      \r\n          rfps  ,  spss  ,  ensemble  ,  ds  ,  data science  ,  advanced analytics  ,  sas  ,  pricing models  ,  factor analysis\r\n        \r\n      ']
['\r\n    Matrimony.com ltd\r\n    \r\n    ', '\ndata analysis  ,  predictive analytics  ,  spss  ,  sql  ,  factor analysis  ,  data science  ,  business process\r\n        \r\n      ']
['\r\n    Merkle Inc.\r\n    \r\n    ', '\r\n      \r\n          business requirements  ,  bi  ,  dashboards  ,  data science  ,  advanced excel  ,  sassql  ,  tableau  ,  forms\r\n        \r\n      ']

In [76]:
m = pd.DataFrame(jobs)

In [77]:
m.columns=['company','skill']

In [78]:
m

,company,skill
0,\r\n Maxgen Technologies\r\n,\r\n \r\n .\r\n \r\n
1,\r\n Maxgen Technologies\r\n,\r\n \r\n .\r\n \r\n
2,\r\n Maxgen Technologies\r\n,\r\n \r\n .\r\n \r\n
3,\r\n tcg digital solutions pvt ltd\r\n \...,"\ndata analytics , functional analysis , p..."
4,\r\n Wow Labz\r\n \r\n,"\r\n \r\n github , python , ..."
5,\r\n bprise pvt ltd\r\n \r\n,"\r\n \r\n hive , algorithms ,..."
6,\r\n Maxgen Technologies\r\n,\r\n \r\n .\r\n \r\n
7,\r\n Maxgen Technologies\r\n,\r\n \r\n .\r\n \r\n
8,\r\n Maxgen Technologies\r\n,\r\n \r\n .\r\n \r\n
9,\r\n Maxgen Technologies\r\n,\r\n \r\n .\r\n \r\n
10,\r\n HR Jobs Placements\r\n,"\nData Science Analyst , Data Science , te..."
11,\r\n CANVAS27.com\r\n,"\r\n \r\n r , data analysis ,..."
12,\r\n CANVAS27.com\r\n,"\r\n \r\n r , data analysis ,..."
13,\r\n Nielsen Research Ltd. Co.\r\n \r\n,"\r\n \r\n project leader , pro..."
14,\r\n Tuebora Software Private Limited\r\n ...,"\ndata analysis , data science , business ..."
15,\r\n cognitio analytics\r\n \r\n,"\r\n \r\n R or Python , SQL ..."
16,\r\n Deal4loans\r\n \r\n,"\r\n \r\n advanced analytics , ..."
17,\r\n Merkle Inc.\r\n \r\n,\r\n \r\n business requirements ...
18,\r\n Merkle Inc.\r\n \r\n,\r\n \r\n business requirements ...
19,\r\n Merkle Inc.\r\n \r\n,"\r\n \r\n visualization , busi..."
20,\r\n ICON PLC\r\n \r\n,"\r\n \r\n rfps , database , ..."
21,\r\n TransOrg Analytics\r\n \r\n,"\ndata mining , bi , dashboards , sql ,..."
22,\r\n MetrixLab\r\n \r\n,"\r\n \r\n rfps , spss , ense..."
23,\r\n Matrimony.com ltd\r\n \r\n,"\ndata analysis , predictive analytics , s..."
24,\r\n Merkle Inc.\r\n \r\n,\r\n \r\n business requirements ...

In [89]:
def clean_html(html):

    # parse html content
    soup = BeautifulSoup(html, "html.parser")

    for data in soup(['style', 'script', 'code', 'a']):
        # Remove tags
        data.decompose()

    # return data by retrieving the tag content
    return ' '.join(soup.stripped_strings)

In [91]:
# To remove HTML first and apply it directly to the source text column.
m['company'] = m['company'].apply(lambda x: clean_html(x))

In [92]:
# To remove HTML first and apply it directly to the source text column.
m['skill'] = m['skill'].apply(lambda x: clean_html(x))

In [93]:
m

,company,skill
0,Maxgen Technologies,.
1,Maxgen Technologies,.
2,Maxgen Technologies,.
3,tcg digital solutions pvt ltd,"data analytics , functional analysis , pre..."
4,Wow Labz,"github , python , data mining , mining ..."
5,bprise pvt ltd,"hive , algorithms , authoring , data min..."
6,Maxgen Technologies,.
7,Maxgen Technologies,.
8,Maxgen Technologies,.
9,Maxgen Technologies,.
10,HR Jobs Placements,"Data Science Analyst , Data Science , test..."
11,CANVAS27.com,"r , data analysis , logistic regression ,..."
12,CANVAS27.com,"r , data analysis , logistic regression ,..."
13,Nielsen Research Ltd. Co.,"project leader , project management , Data..."
14,Tuebora Software Private Limited,"data analysis , data science , business re..."
15,cognitio analytics,"R or Python , SQL , ETL & BI , Data ..."
16,Deal4loans,"advanced analytics , sas , business requir..."
17,Merkle Inc.,"business requirements , dashboards , sql ..."
18,Merkle Inc.,"business requirements , dashboards , data ..."
19,Merkle Inc.,"visualization , business requirements , bi..."
20,ICON PLC,"rfps , database , data science , data sc..."
21,TransOrg Analytics,"data mining , bi , dashboards , sql , ..."
22,MetrixLab,"rfps , spss , ensemble , ds , data sci..."
23,Matrimony.com ltd,"data analysis , predictive analytics , sps..."
24,Merkle Inc.,"business requirements , bi , dashboards ,..."

# multiple page

In [113]:
pages = np.arange(1,100)

In [114]:
data1 = []

In [115]:
for page in pages:
    res =  requests.get("https://www.timesjobs.com/candidate/job-search.html?from=submit&actualTxtKeywords=Data%20Science&searchBy=0&rdoOperator=OR&searchType=personalizedSearch&luceneResultSize=25&postWeek=60&txtKeywords=data%20science&pDate=I&sequence="+str(page)+"&startPage=1")
    soup = BeautifulSoup(res.text,'html.parser')
    values = soup.find_all('li',class_='clearfix job-bx wht-shd-bx')
    
    for jobs in values:
        name = jobs.find('h3',class_='joblist-comp-name').text
        skill = jobs.find('span',class_='srp-skills').text
        data1.append([name,skill])

In [118]:
data1 = pd.DataFrame(data1)

In [119]:
data1.columns=['company','skills']

In [120]:
# To remove HTML first and apply it directly to the source text column.
data1['company'] = data1['company'].apply(lambda x: clean_html(x))

In [122]:
# To remove HTML first and apply it directly to the source text column.
data1['skills'] = data1['skills'].apply(lambda x: clean_html(x))

In [129]:
data1.to_csv('Jobs_skills_data_set.csv',index = False)